*{
    margin:0;
    padding: 0;
}

img,video,object{
    max-width: 100%;
}

body{
    background-color: #222222;
}

.home-section{
    background-color: #444444;
}

.links{
    position: absolute;
    color: #fcba03;
    bottom: 230px;

}

#social-links{
    left: 80px; 
    transform-origin: left;
    transform: rotateZ(-90deg);

}

#email-link{
    right: 80px; 
    transform-origin: right;
    transform: rotateZ(90deg);

}
.line{
    position: absolute;
    width: 1px;
    height: 230px;
    background-color: #fcba03;
    bottom: 0px;

}

#line1{
    left:80px;
}

#line2{
    right: 80px;
}