@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding:0;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

img, object video, canvas{
    max-width: 100%;
}

.top-section{
    background-image: url('../assets/images/portfolio_background_top.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.top-section-image{
    height: 60vh;
    display: block;
}

.top-section nav{
    display: flex;
    align-items: center;
    padding: 12px 2%;
}


nav .logo{
    width: 50%;
    font-size: 2rem;
    font-weight: 700;
}

nav #menu-bar{
    width: 50%;
}

nav #menu{
    width: 98%;
    display: flex;
    font-size: 1.5rem;
    margin-left: 2% ;

}


nav #menu-bar #menu div{
    text-align: center;
    margin-right: 5px;
    width: calc((100% - 20px) /5);

}

nav #menu-bar #menu div:last-of-type{
    margin-right: 0;
    
}

.top-section .brief-intro{    
    display: flex;
    align-items: center;
}


.brief-intro .intro-wrapper{    
    width: 50%;
    padding: 0 10%;
}

.brief-intro .image-wrapper{    
    width: 50%;
}

.brief-intro .hello{
    font-size: 1rem;
}

.brief-intro .name{
    color: #ffcc33;
    padding: 10px 0;
    font-size: 1.7rem;
    font-weight: 700;
}

.brief-intro .intro{
    padding: 10px 50px 10px 0;
    font-size: 1.2rem;
}

.brief-intro .intro-call-to-action{
 border: 2px solid #ffcc33;
 padding: 15px 30px;
 color: #ffcc33;
 text-align: center;
 border-radius: 5px;
 cursor: pointer;
 width: 30%;
 font-size: 0.8rem;
}

/* ABOUT SECTION */


.about-section{
    background-color: #333333;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 100px 20%;
    justify-content: space-between;
    position: relative;
}


.about-section > div{
    width: calc(100% - 200px);
    margin-right: 100px;
}

.about-section > div:last-of-type{
    margin-right: 0;
}

.image-container{
    position: relative;
}


.img-frame{
    width: 12%;
    height: 40%;
    position: absolute;
    border: 6px #ffcc33 solid;
    top: 35%;
    left: 34%;
    z-index: 1;
}

.about-image{
    position: absolute;
    z-index: 2;
    height: 40%;
    width: 12%;
    top: 28%;
    left: 35%;

}

.about-content, .about-content div{
    color: #999999;
    font-size: 1.2rem;
}


.about-content div{
    padding: 10px 0;
    color: #999999;
}

.about-call-to-action  .hire{
    margin-right: 10px;
    padding: 12px 20px;
    border-radius: 3px;
    font-size: 1.2rem;
    background-color: #ffcc33;
    border: none;
}

.about-call-to-action  .download{
    color: #ffcc33;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 1.2rem;
    background-color: #333333;
    border: 2px solid #ffcc33;
}

.thin-line{
    margin: 7px 0;
    height: 3px;   
    width: 60px;
    background-color: #ffcc33;
}

/* Contact Section */


.contact-section{
    background-color: #222222;
    padding : 10px 18%;
}


.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header{
    font-weight: 700;
    font-size: 1.8rem;

}

.contact-form input{
    background-color: #222222;
    border: 1px solid #ffcc33;
    border-radius: 3px;
    width: 40%;
    height: 30px;
    margin: 10px;
    padding: 20px;
    font-size: 1.2rem;
}

.contact-form textarea{
    background-color: #222222;
    border: 1px solid #ffcc33;
    border-radius: 3px;
    width: 40%;
    height: 200px;
    margin: 10px;
}

.contact-form button{ 
    color: #fff;
    background-color: #ffcc33;
    border: none;
    font-size: 1rem;
    margin-left:20px;
    padding: 5px 30px;
    border-radius: 3px;
}

/* PROJECT SECTION */

.project-section{
    padding-top: 100px;
    background-color: #333333;
}

.project-header{
    margin-left: 100px;
    font-weight: 700;
    font-size: 1.8rem;
}
.project-thin-line{
    margin-top: 10px;
    margin-left: 100px;
    height: 3px;   
    width: 60px;
    background-color: #ffcc33;
}

.project-section .container{    
    display: flex;
    flex-wrap: wrap;
    padding: 30px 100px;
}

.project-card{
    margin-right: 40px;
    width: calc((100% - 80px )/3);
    
    text-align: center;
}

.project-card:last-of-type{
    margin-right: 0;
}

.project-info-container{
    margin: 10px;
}

#placeholder-img{
    height: 50%;
}

body{
    background-color: blue;
}
.testimonial-section{
    padding-top: 100px;
    background-color:#222222; 
}

.testimonial-header{
    margin-left: 100px;
    font-weight: 700;
    font-size: 1.8rem;
}

.testimonial-container{
    margin:0 6rem;
    padding-bottom: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:6rem;    
}


/*FOOTER SECTION */

.footer-section{
    background-color: #333333;
    height: 20vh;
    padding : 10px 18%;
}
.newsletter-header{
    font-weight: 700;
    font-size: 1.2rem;
}

.newsletter-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.newsletter-section input{
    background-color: #222222;
    border: 1px solid #ffcc33;
    border-radius: 3px;
    width: 40%;
    height: 30px;
}

.newsletter-section button{ 
    
    color: #fff;
    background-color: #ffcc33;
    border: none;
    font-size: 1rem;
    margin-left:20px;
    padding: 5px 30px;
    border-radius: 3px;
}

a{
    text-decoration: none;
}



@media screen  and (max-width:700px){    
    body{
        font-size: 1.2rem;
    }    
    .top-section{
        background-color: #2c2c2c;
        background-image: none;
        width: 100%;
    }

    .top-section nav{
        display: flex;
        padding: 0;
        width: 100%;
    }

    .logo{
        margin: 20px 0 0 0;
        padding: 0px 20px;
        width: 50%;
        font-size: 2rem;
        font-weight: 700;
    }

    .menu-bg{
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 0;
        width: 0;
        height: 0;
        background: radial-gradient(circle,#ffcc33 , #f99c15) ;
        transition: 0.3s ease-in-out;
        border-radius: 50%;
    }

    .change-bg{
        width: 550px;
        height: 540px;
        transform: translate(50%,-20%);
    }

    #menu-bar {
        position: relative;
        padding: 0;
        width: 50%;
        background-color: aqua;
        z-index: 1;
    }
    
    #hamburger{
        top: 0px;
        position: absolute;
        width: 35px;
        height: 30px;
        cursor: pointer;
        right: 20px;
     
     }

    .about-section{
        width: 100%;
        object-fit: contain;
    }
    .about-image{
        width: calc(50%);
    }
    .top-section-image{
        width: 50%;
    }

    .bar{
        height: 5px;
        width: 100%;
        background-color: #ffcc33;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    #bar1{
        transform: translateY(-4px);
    }

    #bar3{
        transform: translateY(4px);
    }

    nav #menu{     
        width: auto;
        display: flex;
        font-size: 1.5rem;
        position: absolute;   
        padding: 0;
        top: 30px;
        right: 30px;
        transition-delay: .1s;
        transition: 0.3s ease-in-out;
        display: none;
        margin: 0 40px;    
    }

    .nav-list-container div{
        padding: 16px 0;
    }

    a{
        text-decoration: none;

    }

    .nav-list-container div a:hover{
        font-weight: 700;
    }

    .change .bar {
        background-color: white;
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }
    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .change #bar2{
        opacity: 0;
    }

    #menu-bar .change{
        display: block;
    }

    .top-section .brief-intro{    
        display: flex;
        flex-direction: column;
        align-content: center;

    }

    .brief-intro .intro-wrapper{    
        width: 100%;
        padding: 100px 20%;
        text-align: center;        
    }
    
    .brief-intro .image-wrapper{    
        width: 100%;
        display: none;
    }

    .brief-intro .hello{
        font-size: 1rem;
    }

    .brief-intro .name{
        color: #ffcc33;
        padding: 10px 0;
        font-size: 1.7rem;
        font-weight: 700;
    }
    
    .brief-intro .intro{
        padding: 10px 50px 10px 0;
        font-size: 1.2rem;
    }
    
    .brief-intro .intro-call-to-action{
     border: 2px solid #ffcc33;
     padding: 15px 30px;
     color: #ffcc33;
     text-align: center;
     border-radius: 5px;
     cursor: pointer;
     width: 35%;
     font-size: 1rem;
     margin: auto;
    }

    
    .about-section{
        background-color: #333333;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 100px 20%;
        text-justify: auto;
        position: relative;
    }
    
    .about-section > div{
        width: auto;
        margin-right: auto;
    }

    .img-frame{
     display: none;
    }
    
    .about-image{
        position: relative;
        height: auto;
        width: auto;
        top: auto;
        left: auto;
    }

    .about-content, .about-content div{
        
        padding: 20px 0 ;
    }

    .contact-section{
        background-color: #222222;
        padding : 10px 18%;
    }
    
    
    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contact-header{
        font-weight: 700;
        font-size: 1.8rem;
    
    }
    
    .contact-form input{
        background-color: #222222;
        border: 1px solid #ffcc33;
        border-radius: 3px;
        width: 100%;
        height: 30px;
        margin: 10px;
        padding: 20px;
        font-size: 1.2rem;
    }
    
    .contact-form textarea{
        background-color: #222222;
        border: 1px solid #ffcc33;
        border-radius: 3px;
        width: 100%;
        height: 200px;
        margin: 10px;
    }
    
    .contact-form button{ 
        
        color: #fff;
        background-color: #ffcc33;
        border: none;
        font-size: 1rem;
        margin-left:20px;
        padding: 1.2em 3em;
        border-radius: 3px;
    }

    .project-section .container{    
        display: flex;
        flex-direction: column;
        padding: 30px 100px;
    }

    .project-card{
        margin-right: 40px;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .project-info-container h1{
        margin: 10px;
    }

    .testimonial-container{
        margin: 0 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap:6rem;
    }

    

    .footer-section{
        background-color: #333333;
        height: auto;
        padding : 10px 18%;
    }

    .newsletter-section input{
        background-color: #222222;
        border: 1px solid #ffcc33;
        border-radius: 3px;
        margin-top: 10px;
        width: 100%;
        height: 30px;
    }

    .newsletter-section button{ 
        color: #fff;
        background-color: #ffcc33;
        border: none;
        font-size: 1rem;
        margin: 15px 0;
        padding: 5px 30px;
        border-radius: 3px;
    }
    
}